<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    DEMO MASKS {{title}}
  </h1>

</div>

<form [formGroup]="form" novalidate autocomplete="off">

  <div class="ui-g ui-fluid">
    <div class="ui-md-3">
        <label for="cpfCnpj">CPFCNPJ</label>
        <input type=text name="cpfCnpj" id="cpfCnpj" pInputText BrCpfCnpjMask [(ngModel)]="cpfCnpjModel"
               formControlName="cpfCnpjModel"/>
    </div>
  </div>
  <p><b>Form Valid:</b> {{ form.valid ? 'true' : 'false' }}</p>
  <p><b>Form Value:</b> {{form.controls.cpfCnpjModel.value}}</p>
  <p><b>NgModel:</b> {{ cpfCnpjModel ? cpfCnpjModel : 'Empty' }}</p>


  <div class="ui-g ui-fluid">
    <div class="ui-md-3">
      <label for="phone">PHONE</label>
      <input type=text name="phone" id="phone" pInputText BrPhoneMask [(ngModel)]="phoneModel"
             formControlName="phoneModel"/>
    </div>
  </div>
  <p><b>Form Valid:</b> {{ form.valid ? 'true' : 'false' }}</p>
  <p><b>Form Value:</b> {{form.controls.phoneModel.value}}</p>
  <p><b>NgModel:</b> {{ phoneModel ? phoneModel : 'Empty' }}</p>


  <div class="ui-g ui-fluid">
    <div class="ui-md-3">
      <label for="phone">CEP</label>
      <input type=text name="cep" id="cep" pInputText BrCepMask [(ngModel)]="cepModel"
             formControlName="cepModel"/>
    </div>
  </div>
  <p><b>Form Valid:</b> {{ form.valid ? 'true' : 'false' }}</p>
  <p><b>Form Value:</b> {{form.controls.cepModel.value}}</p>
  <p><b>NgModel:</b> {{ cepModel ? cepModel : 'Empty' }}</p>


  <div class="ui-g ui-fluid">
    <div class="ui-md-3">
      <label for="phone">CPF</label>
      <input type=text name="cpf" id="cpf" pInputText BrCpfMask [(ngModel)]="cpfModel"
             formControlName="cpfModel"/>
    </div>
  </div>
  <p><b>Form Valid:</b> {{ form.valid ? 'true' : 'false' }}</p>
  <p><b>Form Value:</b> {{form.controls.cpfModel.value}}</p>
  <p><b>NgModel:</b> {{ cpfModel ? cpfModel : 'Empty' }}</p>


  <div class="ui-g ui-fluid">
    <div class="ui-md-3">
      <label for="phone">CNPJ</label>
      <input type=text name="cnpj" id="cnpj" pInputText BrCnpjMask [(ngModel)]="cnpjModel"
             formControlName="cnpjModel"/>
    </div>
  </div>
  <p><b>Form Valid:</b> {{ form.valid ? 'true' : 'false' }}</p>
  <p><b>Form Value:</b> {{form.controls.cnpjModel.value}}</p>
  <p><b>NgModel:</b> {{ cnpjModel ? cnpjModel : 'Empty' }}</p>

  <ul>
    <li>
      MONEY
      <input type=text name="money" id="money" MoneyMask [(ngModel)]="moneyModel"
             formControlName="moneyModel"/>
    </li>

  </ul>

  <p><b>Form Valid:</b> {{ form.valid ? 'true' : 'false' }}</p>
  <p><b>Form Value:</b> {{form.controls.moneyModel.value}}</p>
  <p><b>NgModel:</b> {{ cnpjModel ? cnpjModel : 'Empty' }}</p>

</form>

